target
.settings
.project
.classpath
.attach*
*~
.metadata
*.releaseBackup
release.properties
.idea
*.iml
# Added during kuali build
web/src/main/webapp/WEB-INF/dwr-kew.xml
web/src/main/webapp/WEB-INF/dwr-kns.xml
web/src/main/webapp/WEB-INF/jsp/dummy_login.jsp
web/src/main/webapp/WEB-INF/jsp/moduleLocked.jsp
web/src/main/webapp/WEB-INF/jsp/recurseCheckTabHighlight.jsp
web/src/main/webapp/WEB-INF/jsp/recurseRowDisplay.jsp
web/src/main/webapp/WEB-INF/krad-base-servlet.xml
web/src/main/webapp/WEB-INF/krad-servlet.xml
web/src/main/webapp/WEB-INF/kradguest-servlet.xml
web/src/main/webapp/WEB-INF/login-servlet.xml
web/src/main/webapp/WEB-INF/tags/kew/
web/src/main/webapp/WEB-INF/tags/kim/
web/src/main/webapp/WEB-INF/tags/kr/
web/src/main/webapp/WEB-INF/tags/rice-portal/channel/
web/src/main/webapp/WEB-INF/tags/rice-portal/iframePortletContainer.tag
web/src/main/webapp/WEB-INF/tags/rice-portal/immutableBar.tag
web/src/main/webapp/WEB-INF/tags/rice-portal/portalBottom.tag
web/src/main/webapp/WEB-INF/tags/rice-portal/portalLink.tag
web/src/main/webapp/WEB-INF/tags/rice-portal/portalTop.tag
web/src/main/webapp/WEB-INF/tld/kuali-func.tld
web/src/main/webapp/WEB-INF/tld/kuali-struts-html-el.tld
web/src/main/webapp/WEB-INF/tld/kuali-struts-html.tld
web/src/main/webapp/WEB-INF/validator-rules.xml
web/src/main/webapp/acknowledgments.jsp
web/src/main/webapp/core/
web/src/main/webapp/favicon.ico
web/src/main/webapp/kcb/
web/src/main/webapp/ken/
web/src/main/webapp/kew/
web/src/main/webapp/kim/
web/src/main/webapp/kr/
web/src/main/webapp/krad/
web/src/main/webapp/krms/
web/src/main/webapp/ksb/
web/src/main/webapp/plugins/
web/src/main/webapp/portal.jsp
web/src/main/webapp/rice-portal/
web/src/main/webapp/themes/
