/* jQuery style override */

.ui-widget {
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif !important; 
}

.ui-widget-header {
}

.ui-button {
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif !important;
    font-weight: bold !important;
} 

.ui-tabs-nav {
   background: #ffffff url(ui-iu/images/headerback.gif) 100% 100% repeat-x;
}

.ui-tabs .ui-tabs-nav ul {
} 

.ui-tabs .ui-tabs-nav li { 
    clear: left !important;
    float: right !important;
    font-size: .8em !important;
    font-weight: bold;
    position: relative;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    font-weight: bold;
    background-color: #DFDDA9 !important;
    color: #33335E;
}

.ui-tabs-nav li.ui-tabs-selected a {
    background-color: #9C2512 !important;
    color: white !important;
}

.ui-state-focus {
	font-weight: normal !important;
}

.ui-state-hover {
    /*text-decoration: underline;*/
}

.ui-dialog-buttonpane .ui-button-text {
	font-size: .8em !important;
}

.ui-accordion-header {
    font-weight: bold !important;
}

.ui-accordion-content {
    background: #ffffff url(ui-iu/images/headerback.gif) 100% 100% repeat-x;
}

/* end of jQuery style override */

.backdoor {
	color: #990000 !important;
}

.ui-header {
	/*background-color: #A02919;*/
	background: #ffffff url(ui-iu/images/headerback.gif) 50% 50% repeat-x;
	height: 55px;
}

.person-info table {
    float: right;
}

.person-info table, .person-detail table {
	border-collapse: collapse;
	color: black;
	font-size: .8em;
}

.person-info table td{
	padding:3px;
}

.person-info a {
	color:black;
}

.person-detail table {
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.person-detail table td {
	padding: 5px;
	border: 1px solid #CCC;
}

.person-detail .header {
	border:none;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.person-detail .sub-header {
	font-weight:bold;
}

#tabs .title, .sub-title {
	font-family: Georgia,"Times New Roman",Serif;
	color: black;
	font-weight: bold;
	font-size: 2em;
	padding: 5px 0 5px 10px;
	clear: both;
	float:left;
}

#tabs .sub-title {
	float:right;
	text-decoration:
}

/*
#timesheet {

}

#timesheet table {
	width: 98%;
	border-collapse: collapse;
	border: 1px solid gray;
	font-size: .9em;
	margin: 20px 0px 20px 0px;
	margin-left:auto;
	margin-right:auto;
}

#timesheet table .header {
	background: #f6a828 url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
}
*/

#timesheet-panel {
	border: 1px solid #ccc;
	float:left;
	width:100%;
	.*margin: 20px 10px 0 1%;*/
	font-size: .8em;
	background-color: #FBF9EE;
}

#timesheet-panel table {
	/*margin: 0 auto 0 auto;*/
	margin: 5px;
	padding: 0;
	border-collapse: collapse;
}

#timesheet-panel table tr td{
	padding: 5px;
	white-space: nowrap;
}

#timesheet-panel .timesheet-panel-title {
	font-weight: bold;
	font-size: 1.1em;
}

#timesheet-panel select, .approvals select {
	font-size: .9em;
}

#timesheet-summary {
	margin: 10px auto 20px auto;
	width: 95%;
}

#timesheet-summary table{
	margin: 0 auto 5px auto;
	font-size: .7em;
	text-align: center;
	border-collapse: collapse;
	width: 95%;

}

#timesheet-summary .header {
	border: none;
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: 20px;
}

#timesheet-summary table tr td{
	border: 1px solid #ccc;
	padding: 3px;
}

#clock{
}

#clock table {
	margin: 20px auto 20px auto;
	background-color: #FBF9EE;
	font-size: .9em;
	border: 2px solid gray;
	padding: 5px;
	border-collapse: collapse;
}


#clock .header {
	font-weight: bold;
	font-size: 1.2em;
	/*color: #1c94c4;*/
	color: #8D2C1B;
	/*background-color: #FBF9EE;*/
}

#clock .header, #clock .footer {
    background: #ffffff url(ui-iu/images/headerback.gif) 50% 50% repeat-x;;    
}

#clock .sub-header {
	text-align: right;
}

#clock .footer {
}

#clock tr, td {
	border: 1px solid gray;
	padding: 8px;
}

.approvals {
}

.approvals table {
	font-size: .8em;
	border-collapse: collapse;
	margin: 20px auto 20px auto;
	width:90%;
}

.approvals table tr td {
	border: 1px solid black;
	text-align: center;
}

.approvals .header{
	background-color: #FBF9EE
}

#note {
	font-size: .8em;
}

.tooltip {
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size: .8em;
	font-family: "Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;

	z-index: 9999;
}

#timesheet table{
	font-size: .8em;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

#timesheet table td {
	padding: 3px;
}

#dialog-form form {
	font-size: .9em !important;
}

.validateTips {
	font-size: .8em;
	padding: 0.3em;
}


.global-error {
	font-size: .9em;
	text-align: center;
	margin-top: 10px;
	color: red;
}

.block-error {
	border: 2px solid red !important;
}

